.frame {
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 20px;
}

.footer-left {
    margin-left: 40px;
    flex: 1;
}

.footer-right {
    flex: 1;
    text-align: right;
    margin-right: 40px;
}

.nav-link-footer {
    color: black;
    font-size: 16px;
    margin-right: 10px;
}

