#logo{
    height: 100px;
}
#nav_bar{
    background-color: #b4cfdd;
}
.navbar-brand {
    position: relative;
}
.title{
    font-weight: bold;
    font-size: 40px;
    color: #333;
    margin-left: 30px;
    position: absolute;
    bottom: 10px; /* Adjust the value as needed */
}
.nav-link {
    color: black;
}


/* Additional CSS for the content section */
.box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    white-space: pre-line;
}

.box-sign-up {
    margin-bottom: 20px;
}
